

<!DOCTYPE html>
<html>
<head>

    <title></title>
</head>
<body>
    
    @Html.X().ResourceManager().ScriptMode(Ext.Net.ScriptMode.Debug).SourceFormatting(true)
    @*@Html.X().Button().Text("Reload").Handler("App.GridPanel.getStore().reload();")*@
    @(Html.X().GridPanel()
        .Width(700)
        .Frame(true)
            .Title("Relations")
            .ID("GridPanel")
            .Border(true)
            .Store(Html.X().Store()
                .ID("Store")
                .Model(Html.X().Model().IDProperty("ID")
                .Fields(
                        new ModelField("CarId", ModelFieldType.Int),
                        new ModelField("Model", ModelFieldType.String),
                        new ModelField("Brand", ModelFieldType.String),
                        new ModelField("CountryId", ModelFieldType.Int),
                        new ModelField("Continent", ModelFieldType.String),
                        new ModelField("NameOfContry", ModelFieldType.String)

                    )

                )
                .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetDataAction")).Reader(Html.X().JsonReader().RootProperty("data"))))
            .ColumnModel(
                Html.X().RowNumbererColumn().Width(50),
                Html.X().Column().Text("CarId").DataIndex("CarId").Flex(1),
                Html.X().Column().Text("Model").DataIndex("Model").Editor(Html.X().TextField()),
                Html.X().Column().Text("Brand").DataIndex("Brand").Editor(Html.X().TextField()),
                Html.X().Column().Text("CountryId").DataIndex("CountryId"),
                Html.X().Column().Text("Continent").DataIndex("Continent").Editor(Html.X().TextField()),
                Html.X().Column().Text("NameOfContry").DataIndex("NameOfContry").Editor(Html.X().TextField())
            )
            .SelectionModel
            (
                Html.X().RowSelectionModel().Mode(SelectionMode.Single)
            )
            .Plugins
            (
            Html.X()
            .CellEditing()
            .ClicksToEdit(1)
            .DirectEvents
            (
              de =>
              {
                  de.Edit.Url = Url.Action("CellEditing");
                  de.Edit.ExtraParams.Add(new Parameter("id", "e.record.data.id", ParameterMode.Raw));
                  de.Edit.ExtraParams.Add(new Parameter("field", "e.field", ParameterMode.Raw));
                  de.Edit.ExtraParams.Add(new Parameter("oldValue", "e.originalValue", ParameterMode.Raw));
                  de.Edit.ExtraParams.Add(new Parameter("newValue", "e.value", ParameterMode.Raw));
                  de.Edit.ExtraParams.Add(new Parameter("vmStock", "e.record.data", ParameterMode.Raw));
              }
            )
            )
  
    )
    @(Html.X().Button().Text("Reload").DirectClickAction("Reload"))
</body>
</html>